@import 'styles/variables.css';

.root {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 100%;
}

.value,
.placeholder {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  cursor: pointer;
}

.value {
  color: var(--trood-orange);
}

.placeholder {
  color: var(--trood-gray-extra-dark);
}
