@import 'styles/variables.css';

.root {
  height: 100%;
  background-color: var(--trood-black-hover);
  overflow: hidden;
}

.sendBlock {
  padding: 10px;
  border-bottom: 1px solid var(--trood-black-hover-light);
}

.foldersList {
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
}

.foldersTitle {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 30px;
  font-size: 10px;
  color: var(--trood-gray-extra-dark);
  font-weight: 600;
  text-transform: uppercase;
}

.folder {
  display: flex;
  align-items: center;
  color: var(--trood-white);
  cursor: pointer;
  padding: 0 20px;
  height: 30px;
}

.folder:hover,
.active {
  color: var(--trood-white) !important;
  background-color: var(--trood-black-hover-light) !important;
}

.specialFolderButton {
  composes: folder;
  height: 60px;
  padding: 0 15px;
}

.buttonSettings {
  composes: folder;
  height: 40px;
  border-top: 1px solid var(--trood-black-hover-light);
  justify-content: flex-start;
  padding: 0 15px;
  text-transform: none;
}
