.root {
  position: relative;
  display: block;
}

.label {
  margin-bottom: 10px;
}

.errors {
  display: flex;
  align-items: center;
  width: 100%;
}

.errorText {
  margin-top: 5px;
  color: var(--trood-red);
  font-size: 12px;
}
