@import 'styles/variables.css';

.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  height: 38px;
  max-height: 100%;
  border: 1px solid var(--trood-gray-border);
  background-color: var(--trood-white);
  border-radius: 2px;
}

.root.open {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tileRoot {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition:
    max-height 0.2s linear,
    opacity 0.2s linear;
}

.content {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  flex: 1 1;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  flex: 0 0;
  height: 100%;
}

.controls > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  color: var(--trood-gray-dark);
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.placeholder,
.input {
  font-size: 10px;
  margin: 0 10px;
  color: var(--trood-gray-extra-dark);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.tileRootContainer {
  position: relative;
  display: block;
}

.tileRootContainer:focus {
  outline: none;
}

.label {
  margin-bottom: 10px;
}

.selectedTile {
  color: var(--trood-orange);
  margin-left: 10px;
  cursor: pointer;
}

.content .search {
  border: none;
  min-height: 0;
  height: 100%;
  padding: 0;
}

.placeholder {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input {
  font-size: 14px;
  text-align: left;
  color: var(--trood-black);
  flex: 1 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.check svg {
  width: 80%;
  height: 80%;
}

.disabled .input {
  color: var(--trood-gray-extra-dark);
}

.controls > div svg {
  width: 65%;
  height: 65%;
}

.controls > .clear svg {
  width: 50%;
  height: 50%;
}

.disabled .controls > * svg {
  fill: var(--trood-gray-extra-dark);
}

.border {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  box-shadow: inset 0 0 0 1px var(--trood-gray);
}

.label + .placeholder,
.label + .input {
  margin-left: 0;
}

.optionsContainer {
  position: absolute;
  z-index: 1000;
  top: calc(100% - 3px);
  left: -1px;
  width: calc(100% + 2px);
  background-color: var(--trood-white);
  box-shadow:
    inset 0 0 0 1px var(--trood-gray-border),
    0 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
}

.optionsContainerHide {
  display: none;
}

.options {
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  height: 1.5rem;
  padding: 0 10px;
  color: var(--trood-gray-dark);
}

.item:hover,
.item.active {
  color: var(--trood-black);
}

.item > .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  flex: 0 1 20px;
  margin-right: 10px;
  border: 1px solid var(--trood-gray-dark);
  border-radius: 15%;
  color: transparent;
}

.item.active > .check {
  color: var(--trood-blue);
}

.tileItem {
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  color: var(--trood-orange);
  background-color: rgba(255, 155, 0, 0.1);
  margin-bottom: 10px;
}

.radioHorizontal:not(:last-child) {
  margin-right: 30px;
}

.radioVertical {
  width: 100%;
}

.radioVertical:not(:first-child) {
  margin-top: 5px;
}

.tileItem:not(:last-child) {
  margin-right: 10px;
}

.tileItem.active {
  box-shadow: inset 0 0 2px 2px var(--trood-orange);
}

.item > span {
  font-size: 14px;
  text-align: left;
  flex: 1 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.children {
  padding: 5px 0;
}

.error {
  border-color: var(--trood-red);
}

.errors {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.errorText {
  margin-top: 5px;
  color: var(--trood-red);
  font-size: 12px;
}

.empty {
  padding: 5px 10px;
  color: var(--trood-gray-dark);
}
