.root {
  display: flex;
  flex-flow: column;
  position: relative;
}

.disabled {
  pointer-events: none;
}

.popup {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.topLeft {
  top: 100%;
  left: 0;
}

.topRight {
  top: 100%;
  right: 0;
}

.topMiddle {
  top: 100%;
}

.bottomLeft {
  bottom: 100%;
  left: 0;
}

.bottomRight {
  bottom: 100%;
  right: 0;
}

.bottomMiddle {
  bottom: 100%;
}

.arrow .topLeft,
.arrow .topRight,
.arrow .topMiddle {
  margin-top: 10px;
}

.arrow .bottomLeft,
.arrow .bottomRight,
.arrow .bottomMiddle {
  margin-bottom: 10px;
}

.controlWrapper {
  cursor: pointer;
  width: 100%;
}
