@import 'styles/variables.css';

.root {
  padding: 8px;
  align-items: center;
  cursor: pointer;
  color: var(--trood-gray-super-dark);
}

.active,
.root:hover {
  background-color: var(--trood-gray);
}

.active {
  color: var(--trood-black);
}
