.root {
  display: flex;
  flex-flow: column nowrap;
  margin: 8px;
}

.root:not(.transparent) {
  background-color: var(--trood-white);
  box-shadow: 0 2px 10px 0 var(--trood-shadow);
  padding: 8px;
}

.rounded {
  border-radius: var(--trood-border-radius);
}

@media (min-width: 768px) {
  .root {
    margin: 12px;
  }

  .root:not(.transparent) {
    padding: 12px;
  }
}

@media (min-width: 1024px) {
  .root {
    margin: 16px;
  }

  .root:not(.transparent) {
    padding: 16px;
  }
}

@media (min-width: 1280px) {
  .root {
    margin: 20px;
  }

  .root:not(.transparent) {
    padding: 20px;
  }
}

@media (min-width: 1920px) {
  .root {
    margin: 24px;
  }

  .root:not(.transparent) {
    padding: 24px;
  }
}
