.root {
}

.filterItem {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 200px;
}

.numberFilter {
  display: flex;
}

.numberFilterMin {
  margin-right: 8px;
}

.resetButton {
  margin-left: auto;
  align-self: center;
}
