.root {
  height: 100%;
}

.logot {
  margin-top: auto;
}

.root .menu .clearButton {
  display: none;
}

@media (--trood-media-portable) {
  .root {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
  }

  .root:after {
    content: ' ';
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-mod(var(--trood-white) a(60%));
    z-index: -1;
  }

  .root.hideMenu {
    display: none;
  }

  .root .menu .clearButton {
    display: flex;
  }
}
