@import 'styles/variables.css';

.root {
  display: flex;
  flex-wrap: wrap;
}

.fileInput {
  display: none;
}

.fileList {
  width: 70%;
  margin-right: 30px;
}

.inputContainer {
  position: relative;
  width: 100%;
  height: 100px;
  border: 1px solid var(--trood-blue);
  color: var(--trood-blue);
  background-color: var(--trood-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.inputContainer svg {
  fill: var(--trood-blue);
  transition: fill 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.inputContainer:hover {
  background-color: var(--trood-blue);
  color: var(--trood-white);
}

.subLabel {
  width: 100%;
  text-align: center;
  font-size: 13px;
  line-height: 1.54;
  color: var(--trood-gray-border-light);
  margin-top: 5px;
}

.inputContainer:hover .subLabel {
  color: var(--trood-white);
}

.file {
  background-color: var(--trood-light-gray);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.file:not(:first-child) {
  margin-top: 15px;
}

.file > div {
  white-space: nowrap;
}

.file > div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.trash {
  cursor: pointer;
  padding: 5px;
  flex: 0 0 30px;
  border: 1px solid var(--trood-green);
  transition: color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  margin-left: 10px;
}

.trash svg {
  fill: var(--trood-black);
  transition: fill 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.inputContainer:hover svg {
  fill: var(--trood-white);
}

.trash:hover {
  background-color: var(--trood-green);
}

.trash:hover svg {
  fill: var(--trood-white);
}

.fileOver {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-color: var(--trood-white);
}

.error {
  border: 1px solid var(--trood-red);
}

.errors {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.errorText {
  color: var(--trood-red);
  font-size: 14px;
  font-weight: 500;
}

.label {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
