.root {}

.root .error {
  text-transform: none;
  color: var(--trood-red);
}

.root .errorInfo {
  font-family: Courier New, Courier, monospace;
  white-space: pre-wrap;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  word-break: break-word;
}
