.aa-Cell-xl,
.aa-Cell-xl-auto, .aa-Cell-xl-12, .aa-Cell-xl-11, .aa-Cell-xl-10, .aa-Cell-xl-9, .aa-Cell-xl-8, .aa-Cell-xl-7, .aa-Cell-xl-6, .aa-Cell-xl-5, .aa-Cell-xl-4, .aa-Cell-xl-3, .aa-Cell-xl-2, .aa-Cell-xl-1, .aa-Cell-lg,
.aa-Cell-lg-auto, .aa-Cell-lg-12, .aa-Cell-lg-11, .aa-Cell-lg-10, .aa-Cell-lg-9, .aa-Cell-lg-8, .aa-Cell-lg-7, .aa-Cell-lg-6, .aa-Cell-lg-5, .aa-Cell-lg-4, .aa-Cell-lg-3, .aa-Cell-lg-2, .aa-Cell-lg-1, .aa-Cell-md,
.aa-Cell-md-auto, .aa-Cell-md-12, .aa-Cell-md-11, .aa-Cell-md-10, .aa-Cell-md-9, .aa-Cell-md-8, .aa-Cell-md-7, .aa-Cell-md-6, .aa-Cell-md-5, .aa-Cell-md-4, .aa-Cell-md-3, .aa-Cell-md-2, .aa-Cell-md-1, .aa-Cell-sm,
.aa-Cell-sm-auto, .aa-Cell-sm-12, .aa-Cell-sm-11, .aa-Cell-sm-10, .aa-Cell-sm-9, .aa-Cell-sm-8, .aa-Cell-sm-7, .aa-Cell-sm-6, .aa-Cell-sm-5, .aa-Cell-sm-4, .aa-Cell-sm-3, .aa-Cell-sm-2, .aa-Cell-sm-1, .aa-Cell,
.aa-Cell-auto, .aa-Cell-12, .aa-Cell-11, .aa-Cell-10, .aa-Cell-9, .aa-Cell-8, .aa-Cell-7, .aa-Cell-6, .aa-Cell-5, .aa-Cell-4, .aa-Cell-3, .aa-Cell-2, .aa-Cell-1 {
  position: relative;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
}

.aa-Cell {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.aa-Cell-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.aa-Cell-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.aa-Cell-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.aa-Cell-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.aa-Cell-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.aa-Cell-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.aa-Cell-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.aa-Cell-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.aa-Cell-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.aa-Cell-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.aa-Cell-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.aa-Cell-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.aa-Cell-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.aa-Cell-offset-1 {
  margin-left: 8.3333333333%;
}

.aa-Cell-offset-2 {
  margin-left: 16.6666666667%;
}

.aa-Cell-offset-3 {
  margin-left: 25%;
}

.aa-Cell-offset-4 {
  margin-left: 33.3333333333%;
}

.aa-Cell-offset-5 {
  margin-left: 41.6666666667%;
}

.aa-Cell-offset-6 {
  margin-left: 50%;
}

.aa-Cell-offset-7 {
  margin-left: 58.3333333333%;
}

.aa-Cell-offset-8 {
  margin-left: 66.6666666667%;
}

.aa-Cell-offset-9 {
  margin-left: 75%;
}

.aa-Cell-offset-10 {
  margin-left: 83.3333333333%;
}

.aa-Cell-offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 768px) {
  .aa-Cell-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .aa-Cell-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .aa-Cell-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .aa-Cell-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .aa-Cell-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .aa-Cell-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .aa-Cell-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .aa-Cell-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .aa-Cell-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .aa-Cell-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .aa-Cell-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .aa-Cell-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .aa-Cell-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .aa-Cell-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .aa-Cell-offset-sm-0 {
    margin-left: 0;
  }

  .aa-Cell-offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .aa-Cell-offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .aa-Cell-offset-sm-3 {
    margin-left: 25%;
  }

  .aa-Cell-offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .aa-Cell-offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .aa-Cell-offset-sm-6 {
    margin-left: 50%;
  }

  .aa-Cell-offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .aa-Cell-offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .aa-Cell-offset-sm-9 {
    margin-left: 75%;
  }

  .aa-Cell-offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .aa-Cell-offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1024px) {
  .aa-Cell-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .aa-Cell-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .aa-Cell-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .aa-Cell-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .aa-Cell-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .aa-Cell-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .aa-Cell-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .aa-Cell-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .aa-Cell-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .aa-Cell-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .aa-Cell-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .aa-Cell-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .aa-Cell-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .aa-Cell-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .aa-Cell-offset-md-0 {
    margin-left: 0;
  }

  .aa-Cell-offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .aa-Cell-offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .aa-Cell-offset-md-3 {
    margin-left: 25%;
  }

  .aa-Cell-offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .aa-Cell-offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .aa-Cell-offset-md-6 {
    margin-left: 50%;
  }

  .aa-Cell-offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .aa-Cell-offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .aa-Cell-offset-md-9 {
    margin-left: 75%;
  }

  .aa-Cell-offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .aa-Cell-offset-md-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1280px) {
  .aa-Cell-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .aa-Cell-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .aa-Cell-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .aa-Cell-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .aa-Cell-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .aa-Cell-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .aa-Cell-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .aa-Cell-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .aa-Cell-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .aa-Cell-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .aa-Cell-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .aa-Cell-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .aa-Cell-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .aa-Cell-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .aa-Cell-offset-lg-0 {
    margin-left: 0;
  }

  .aa-Cell-offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .aa-Cell-offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .aa-Cell-offset-lg-3 {
    margin-left: 25%;
  }

  .aa-Cell-offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .aa-Cell-offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .aa-Cell-offset-lg-6 {
    margin-left: 50%;
  }

  .aa-Cell-offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .aa-Cell-offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .aa-Cell-offset-lg-9 {
    margin-left: 75%;
  }

  .aa-Cell-offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .aa-Cell-offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1920px) {
  .aa-Cell-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .aa-Cell-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .aa-Cell-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .aa-Cell-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .aa-Cell-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .aa-Cell-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .aa-Cell-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .aa-Cell-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .aa-Cell-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .aa-Cell-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .aa-Cell-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .aa-Cell-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .aa-Cell-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .aa-Cell-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .aa-Cell-offset-xl-0 {
    margin-left: 0;
  }

  .aa-Cell-offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .aa-Cell-offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .aa-Cell-offset-xl-3 {
    margin-left: 25%;
  }

  .aa-Cell-offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .aa-Cell-offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .aa-Cell-offset-xl-6 {
    margin-left: 50%;
  }

  .aa-Cell-offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .aa-Cell-offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .aa-Cell-offset-xl-9 {
    margin-left: 75%;
  }

  .aa-Cell-offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .aa-Cell-offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}

@media (max-width: 768px) {
  .aa-Cell-xs-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .aa-Cell-sm-hidden {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .aa-Cell-md-hidden {
    display: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
  .aa-Cell-lg-hidden {
    display: none;
  }
}

@media (min-width: 1920px) {
  .aa-Cell-xl-hidden {
    display: none;
  }
}