@import 'styles/variables.css';

.root {
  display: flex;
  padding: 0 20px 20px;
  margin: 0 -20px -20px 0;
}

.root.horizontal {
  flex-flow: row wrap;
}

.root.vertical {
  flex-flow: column wrap;
}

.file {
  width: 300px;
  margin: 0 20px 20px 0;
  overflow: hidden;
}
