@import 'styles/variables.css';

.root {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  padding-top: 100px;
  background-color: var(--trood-background);
}
