@import 'styles/variables.css';

.root {
  border: 1px solid var(--trood-gray-border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  composes: root;
  width: 18px;
  height: 18px;
}

.orange {
  composes: root;
  width: 20px;
  height: 20px;
  transition: border-width 0.1s ease-in-out;
}

.checked.orange {
  border: 6px solid var(--trood-orange);
}

.thin {
  composes: root;
  width: 10px;
  height: 10px;
  border: none;
  margin-right: 10px;
}

.large {
  composes: root;
  width: 30px;
  height: 30px;
}

.checked.thin {
  border: 5px solid var(--trood-black);
}

.checked.large {
  border-color: var(--trood-blue-dark);
}

.innerRoot {
  width: 12px;
  height: 12px;
  background-color: var(--trood-blue);
  border-radius: 50%;
}

.large .innerRoot {
  width: 20px;
  height: 20px;
  background-color: var(--trood-blue-dark);
}

.root.disabled {
  background-color: var(--trood-gray);
}

.disabled .innerRoot {
  color: var(--trood-gray-super-dark);
}
