.flagIconBackground {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flagIcon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1em;
  line-height: 1em;
}

.flagIcon:before {
  content: "\00a0";
}

.flagIconAd {
  background-image: url(/static/flags/ad.svg);
}

.flagIconAe {
  background-image: url(/static/flags/ae.svg);
}

.flagIconAf {
  background-image: url(/static/flags/af.svg);
}

.flagIconAg {
  background-image: url(/static/flags/ag.svg);
}

.flagIconAi {
  background-image: url(/static/flags/ai.svg);
}

.flagIconAl {
  background-image: url(/static/flags/al.svg);
}

.flagIconAm {
  background-image: url(/static/flags/am.svg);
}

.flagIconAo {
  background-image: url(/static/flags/ao.svg);
}

.flagIconAq {
  background-image: url(/static/flags/aq.svg);
}

.flagIconAr {
  background-image: url(/static/flags/ar.svg);
}

.flagIconAs {
  background-image: url(/static/flags/as.svg);
}

.flagIconAt {
  background-image: url(/static/flags/at.svg);
}

.flagIconAu {
  background-image: url(/static/flags/au.svg);
}

.flagIconAw {
  background-image: url(/static/flags/aw.svg);
}

.flagIconAx {
  background-image: url(/static/flags/ax.svg);
}

.flagIconAz {
  background-image: url(/static/flags/az.svg);
}

.flagIconBa {
  background-image: url(/static/flags/ba.svg);
}

.flagIconBb {
  background-image: url(/static/flags/bb.svg);
}

.flagIconBd {
  background-image: url(/static/flags/bd.svg);
}

.flagIconBe {
  background-image: url(/static/flags/be.svg);
}

.flagIconBf {
  background-image: url(/static/flags/bf.svg);
}

.flagIconBg {
  background-image: url(/static/flags/bg.svg);
}

.flagIconBh {
  background-image: url(/static/flags/bh.svg);
}

.flagIconBi {
  background-image: url(/static/flags/bi.svg);
}

.flagIconBj {
  background-image: url(/static/flags/bj.svg);
}

.flagIconBl {
  background-image: url(/static/flags/bl.svg);
}

.flagIconBm {
  background-image: url(/static/flags/bm.svg);
}

.flagIconBn {
  background-image: url(/static/flags/bn.svg);
}

.flagIconBo {
  background-image: url(/static/flags/bo.svg);
}

.flagIconBq {
  background-image: url(/static/flags/bq.svg);
}

.flagIconBr {
  background-image: url(/static/flags/br.svg);
}

.flagIconBs {
  background-image: url(/static/flags/bs.svg);
}

.flagIconBt {
  background-image: url(/static/flags/bt.svg);
}

.flagIconBv {
  background-image: url(/static/flags/bv.svg);
}

.flagIconBw {
  background-image: url(/static/flags/bw.svg);
}

.flagIconBy {
  background-image: url(/static/flags/by.svg);
}

.flagIconBz {
  background-image: url(/static/flags/bz.svg);
}

.flagIconCa {
  background-image: url(/static/flags/ca.svg);
}

.flagIconCc {
  background-image: url(/static/flags/cc.svg);
}

.flagIconCd {
  background-image: url(/static/flags/cd.svg);
}

.flagIconCf {
  background-image: url(/static/flags/cf.svg);
}

.flagIconCg {
  background-image: url(/static/flags/cg.svg);
}

.flagIconCh {
  background-image: url(/static/flags/ch.svg);
}

.flagIconCi {
  background-image: url(/static/flags/ci.svg);
}

.flagIconCk {
  background-image: url(/static/flags/ck.svg);
}

.flagIconCl {
  background-image: url(/static/flags/cl.svg);
}

.flagIconCm {
  background-image: url(/static/flags/cm.svg);
}

.flagIconCn {
  background-image: url(/static/flags/cn.svg);
}

.flagIconCo {
  background-image: url(/static/flags/co.svg);
}

.flagIconCr {
  background-image: url(/static/flags/cr.svg);
}

.flagIconCu {
  background-image: url(/static/flags/cu.svg);
}

.flagIconCv {
  background-image: url(/static/flags/cv.svg);
}

.flagIconCw {
  background-image: url(/static/flags/cw.svg);
}

.flagIconCx {
  background-image: url(/static/flags/cx.svg);
}

.flagIconCy {
  background-image: url(/static/flags/cy.svg);
}

.flagIconCz {
  background-image: url(/static/flags/cz.svg);
}

.flagIconDe {
  background-image: url(/static/flags/de.svg);
}

.flagIconDj {
  background-image: url(/static/flags/dj.svg);
}

.flagIconDk {
  background-image: url(/static/flags/dk.svg);
}

.flagIconDm {
  background-image: url(/static/flags/dm.svg);
}

.flagIconDo {
  background-image: url(/static/flags/do.svg);
}

.flagIconDz {
  background-image: url(/static/flags/dz.svg);
}

.flagIconEc {
  background-image: url(/static/flags/ec.svg);
}

.flagIconEe {
  background-image: url(/static/flags/ee.svg);
}

.flagIconEg {
  background-image: url(/static/flags/eg.svg);
}

.flagIconEh {
  background-image: url(/static/flags/eh.svg);
}

.flagIconEr {
  background-image: url(/static/flags/er.svg);
}

.flagIconEs {
  background-image: url(/static/flags/es.svg);
}

.flagIconEt {
  background-image: url(/static/flags/et.svg);
}

.flagIconFi {
  background-image: url(/static/flags/fi.svg);
}

.flagIconFj {
  background-image: url(/static/flags/fj.svg);
}

.flagIconFk {
  background-image: url(/static/flags/fk.svg);
}

.flagIconFm {
  background-image: url(/static/flags/fm.svg);
}

.flagIconFo {
  background-image: url(/static/flags/fo.svg);
}

.flagIconFr {
  background-image: url(/static/flags/fr.svg);
}

.flagIconGa {
  background-image: url(/static/flags/ga.svg);
}

.flagIconGb {
  background-image: url(/static/flags/gb.svg);
}

/* Special flag for english language */
.flagIconEn {
  background-image: url(/static/flags/gb.svg);
}

.flagIconGd {
  background-image: url(/static/flags/gd.svg);
}

.flagIconGe {
  background-image: url(/static/flags/ge.svg);
}

.flagIconGf {
  background-image: url(/static/flags/gf.svg);
}

.flagIconGg {
  background-image: url(/static/flags/gg.svg);
}

.flagIconGh {
  background-image: url(/static/flags/gh.svg);
}

.flagIconGi {
  background-image: url(/static/flags/gi.svg);
}

.flagIconGl {
  background-image: url(/static/flags/gl.svg);
}

.flagIconGm {
  background-image: url(/static/flags/gm.svg);
}

.flagIconGn {
  background-image: url(/static/flags/gn.svg);
}

.flagIconGp {
  background-image: url(/static/flags/gp.svg);
}

.flagIconGq {
  background-image: url(/static/flags/gq.svg);
}

.flagIconGr {
  background-image: url(/static/flags/gr.svg);
}

.flagIconGs {
  background-image: url(/static/flags/gs.svg);
}

.flagIconGt {
  background-image: url(/static/flags/gt.svg);
}

.flagIconGu {
  background-image: url(/static/flags/gu.svg);
}

.flagIconGw {
  background-image: url(/static/flags/gw.svg);
}

.flagIconGy {
  background-image: url(/static/flags/gy.svg);
}

.flagIconHk {
  background-image: url(/static/flags/hk.svg);
}

.flagIconHm {
  background-image: url(/static/flags/hm.svg);
}

.flagIconHn {
  background-image: url(/static/flags/hn.svg);
}

.flagIconHr {
  background-image: url(/static/flags/hr.svg);
}

.flagIconHt {
  background-image: url(/static/flags/ht.svg);
}

.flagIconHu {
  background-image: url(/static/flags/hu.svg);
}

.flagIconId {
  background-image: url(/static/flags/id.svg);
}

.flagIconIe {
  background-image: url(/static/flags/ie.svg);
}

.flagIconIl {
  background-image: url(/static/flags/il.svg);
}

.flagIconIm {
  background-image: url(/static/flags/im.svg);
}

.flagIconIn {
  background-image: url(/static/flags/in.svg);
}

.flagIconIo {
  background-image: url(/static/flags/io.svg);
}

.flagIconIq {
  background-image: url(/static/flags/iq.svg);
}

.flagIconIr {
  background-image: url(/static/flags/ir.svg);
}

.flagIconIs {
  background-image: url(/static/flags/is.svg);
}

.flagIconIt {
  background-image: url(/static/flags/it.svg);
}

.flagIconJe {
  background-image: url(/static/flags/je.svg);
}

.flagIconJm {
  background-image: url(/static/flags/jm.svg);
}

.flagIconJo {
  background-image: url(/static/flags/jo.svg);
}

.flagIconJp {
  background-image: url(/static/flags/jp.svg);
}

.flagIconKe {
  background-image: url(/static/flags/ke.svg);
}

.flagIconKg {
  background-image: url(/static/flags/kg.svg);
}

.flagIconKh {
  background-image: url(/static/flags/kh.svg);
}

.flagIconKi {
  background-image: url(/static/flags/ki.svg);
}

.flagIconKm {
  background-image: url(/static/flags/km.svg);
}

.flagIconKn {
  background-image: url(/static/flags/kn.svg);
}

.flagIconKp {
  background-image: url(/static/flags/kp.svg);
}

.flagIconKr {
  background-image: url(/static/flags/kr.svg);
}

.flagIconKw {
  background-image: url(/static/flags/kw.svg);
}

.flagIconKy {
  background-image: url(/static/flags/ky.svg);
}

.flagIconKz {
  background-image: url(/static/flags/kz.svg);
}

.flagIconLa {
  background-image: url(/static/flags/la.svg);
}

.flagIconLb {
  background-image: url(/static/flags/lb.svg);
}

.flagIconLc {
  background-image: url(/static/flags/lc.svg);
}

.flagIconLi {
  background-image: url(/static/flags/li.svg);
}

.flagIconLk {
  background-image: url(/static/flags/lk.svg);
}

.flagIconLr {
  background-image: url(/static/flags/lr.svg);
}

.flagIconLs {
  background-image: url(/static/flags/ls.svg);
}

.flagIconLt {
  background-image: url(/static/flags/lt.svg);
}

.flagIconLu {
  background-image: url(/static/flags/lu.svg);
}

.flagIconLv {
  background-image: url(/static/flags/lv.svg);
}

.flagIconLy {
  background-image: url(/static/flags/ly.svg);
}

.flagIconMa {
  background-image: url(/static/flags/ma.svg);
}

.flagIconMc {
  background-image: url(/static/flags/mc.svg);
}

.flagIconMd {
  background-image: url(/static/flags/md.svg);
}

.flagIconMe {
  background-image: url(/static/flags/me.svg);
}

.flagIconMf {
  background-image: url(/static/flags/mf.svg);
}

.flagIconMg {
  background-image: url(/static/flags/mg.svg);
}

.flagIconMh {
  background-image: url(/static/flags/mh.svg);
}

.flagIconMk {
  background-image: url(/static/flags/mk.svg);
}

.flagIconMl {
  background-image: url(/static/flags/ml.svg);
}

.flagIconMm {
  background-image: url(/static/flags/mm.svg);
}

.flagIconMn {
  background-image: url(/static/flags/mn.svg);
}

.flagIconMo {
  background-image: url(/static/flags/mo.svg);
}

.flagIconMp {
  background-image: url(/static/flags/mp.svg);
}

.flagIconMq {
  background-image: url(/static/flags/mq.svg);
}

.flagIconMr {
  background-image: url(/static/flags/mr.svg);
}

.flagIconMs {
  background-image: url(/static/flags/ms.svg);
}

.flagIconMt {
  background-image: url(/static/flags/mt.svg);
}

.flagIconMu {
  background-image: url(/static/flags/mu.svg);
}

.flagIconMv {
  background-image: url(/static/flags/mv.svg);
}

.flagIconMw {
  background-image: url(/static/flags/mw.svg);
}

.flagIconMx {
  background-image: url(/static/flags/mx.svg);
}

.flagIconMy {
  background-image: url(/static/flags/my.svg);
}

.flagIconMz {
  background-image: url(/static/flags/mz.svg);
}

.flagIconNa {
  background-image: url(/static/flags/na.svg);
}

.flagIconNc {
  background-image: url(/static/flags/nc.svg);
}

.flagIconNe {
  background-image: url(/static/flags/ne.svg);
}

.flagIconNf {
  background-image: url(/static/flags/nf.svg);
}

.flagIconNg {
  background-image: url(/static/flags/ng.svg);
}

.flagIconNi {
  background-image: url(/static/flags/ni.svg);
}

.flagIconNl {
  background-image: url(/static/flags/nl.svg);
}

.flagIconNo {
  background-image: url(/static/flags/no.svg);
}

.flagIconNp {
  background-image: url(/static/flags/np.svg);
}

.flagIconNr {
  background-image: url(/static/flags/nr.svg);
}

.flagIconNu {
  background-image: url(/static/flags/nu.svg);
}

.flagIconNz {
  background-image: url(/static/flags/nz.svg);
}

.flagIconOm {
  background-image: url(/static/flags/om.svg);
}

.flagIconPa {
  background-image: url(/static/flags/pa.svg);
}

.flagIconPe {
  background-image: url(/static/flags/pe.svg);
}

.flagIconPf {
  background-image: url(/static/flags/pf.svg);
}

.flagIconPg {
  background-image: url(/static/flags/pg.svg);
}

.flagIconPh {
  background-image: url(/static/flags/ph.svg);
}

.flagIconPk {
  background-image: url(/static/flags/pk.svg);
}

.flagIconPl {
  background-image: url(/static/flags/pl.svg);
}

.flagIconPm {
  background-image: url(/static/flags/pm.svg);
}

.flagIconPn {
  background-image: url(/static/flags/pn.svg);
}

.flagIconPr {
  background-image: url(/static/flags/pr.svg);
}

.flagIconPs {
  background-image: url(/static/flags/ps.svg);
}

.flagIconPt {
  background-image: url(/static/flags/pt.svg);
}

.flagIconPw {
  background-image: url(/static/flags/pw.svg);
}

.flagIconPy {
  background-image: url(/static/flags/py.svg);
}

.flagIconQa {
  background-image: url(/static/flags/qa.svg);
}

.flagIconRe {
  background-image: url(/static/flags/re.svg);
}

.flagIconRo {
  background-image: url(/static/flags/ro.svg);
}

.flagIconRs {
  background-image: url(/static/flags/rs.svg);
}

.flagIconRu {
  background-image: url(/static/flags/ru.svg);
}

.flagIconRw {
  background-image: url(/static/flags/rw.svg);
}

.flagIconSa {
  background-image: url(/static/flags/sa.svg);
}

.flagIconSb {
  background-image: url(/static/flags/sb.svg);
}

.flagIconSc {
  background-image: url(/static/flags/sc.svg);
}

.flagIconSd {
  background-image: url(/static/flags/sd.svg);
}

.flagIconSe {
  background-image: url(/static/flags/se.svg);
}

.flagIconSg {
  background-image: url(/static/flags/sg.svg);
}

.flagIconSh {
  background-image: url(/static/flags/sh.svg);
}

.flagIconSi {
  background-image: url(/static/flags/si.svg);
}

.flagIconSj {
  background-image: url(/static/flags/sj.svg);
}

.flagIconSk {
  background-image: url(/static/flags/sk.svg);
}

.flagIconSl {
  background-image: url(/static/flags/sl.svg);
}

.flagIconSm {
  background-image: url(/static/flags/sm.svg);
}

.flagIconSn {
  background-image: url(/static/flags/sn.svg);
}

.flagIconSo {
  background-image: url(/static/flags/so.svg);
}

.flagIconSr {
  background-image: url(/static/flags/sr.svg);
}

.flagIconSs {
  background-image: url(/static/flags/ss.svg);
}

.flagIconSt {
  background-image: url(/static/flags/st.svg);
}

.flagIconSv {
  background-image: url(/static/flags/sv.svg);
}

.flagIconSx {
  background-image: url(/static/flags/sx.svg);
}

.flagIconSy {
  background-image: url(/static/flags/sy.svg);
}

.flagIconSz {
  background-image: url(/static/flags/sz.svg);
}

.flagIconTc {
  background-image: url(/static/flags/tc.svg);
}

.flagIconTd {
  background-image: url(/static/flags/td.svg);
}

.flagIconTf {
  background-image: url(/static/flags/tf.svg);
}

.flagIconTg {
  background-image: url(/static/flags/tg.svg);
}

.flagIconTh {
  background-image: url(/static/flags/th.svg);
}

.flagIconTj {
  background-image: url(/static/flags/tj.svg);
}

.flagIconTk {
  background-image: url(/static/flags/tk.svg);
}

.flagIconTl {
  background-image: url(/static/flags/tl.svg);
}

.flagIconTm {
  background-image: url(/static/flags/tm.svg);
}

.flagIconTn {
  background-image: url(/static/flags/tn.svg);
}

.flagIconTo {
  background-image: url(/static/flags/to.svg);
}

.flagIconTr {
  background-image: url(/static/flags/tr.svg);
}

.flagIconTt {
  background-image: url(/static/flags/tt.svg);
}

.flagIconTv {
  background-image: url(/static/flags/tv.svg);
}

.flagIconTw {
  background-image: url(/static/flags/tw.svg);
}

.flagIconTz {
  background-image: url(/static/flags/tz.svg);
}

.flagIconUa {
  background-image: url(/static/flags/ua.svg);
}

.flagIconUg {
  background-image: url(/static/flags/ug.svg);
}

.flagIconUm {
  background-image: url(/static/flags/um.svg);
}

.flagIconUs {
  background-image: url(/static/flags/us.svg);
}

.flagIconUy {
  background-image: url(/static/flags/uy.svg);
}

.flagIconUz {
  background-image: url(/static/flags/uz.svg);
}

.flagIconVa {
  background-image: url(/static/flags/va.svg);
}

.flagIconVc {
  background-image: url(/static/flags/vc.svg);
}

.flagIconVe {
  background-image: url(/static/flags/ve.svg);
}

.flagIconVg {
  background-image: url(/static/flags/vg.svg);
}

.flagIconVi {
  background-image: url(/static/flags/vi.svg);
}

.flagIconVn {
  background-image: url(/static/flags/vn.svg);
}

.flagIconVu {
  background-image: url(/static/flags/vu.svg);
}

.flagIconWf {
  background-image: url(/static/flags/wf.svg);
}

.flagIconWs {
  background-image: url(/static/flags/ws.svg);
}

.flagIconYe {
  background-image: url(/static/flags/ye.svg);
}

.flagIconYt {
  background-image: url(/static/flags/yt.svg);
}

.flagIconZa {
  background-image: url(/static/flags/za.svg);
}

.flagIconZm {
  background-image: url(/static/flags/zm.svg);
}

.flagIconZw {
  background-image: url(/static/flags/zw.svg);
}

.flagIconEsCt {
  background-image: url(/static/flags/es-ct.svg);
}

.flagIconEu {
  background-image: url(/static/flags/eu.svg);
}

.flagIconGbEng {
  background-image: url(/static/flags/gb-eng.svg);
}

.flagIconGbNir {
  background-image: url(/static/flags/gb-nir.svg);
}

.flagIconGbSct {
  background-image: url(/static/flags/gb-sct.svg);
}

.flagIconGbWls {
  background-image: url(/static/flags/gb-wls.svg);
}

.flagIconUn {
  background-image: url(/static/flags/un.svg);
}

.flagIconXk {
  background-image: url(/static/flags/xk.svg);
}
