/* stylelint-disable */
@font-face {
  font-family: 'Trood';
  src: url('/static/fonts/Ubuntu-L.eot');
  src: url('/static/fonts/Ubuntu-L.eot#iefix') format('embedded-opentype'),
  url('/static/fonts/Ubuntu-L.woff2') format('woff2'),
  url('/static/fonts/Ubuntu-L.woff') format('woff'),
  url('/static/fonts/Ubuntu-L.ttf') format('truetype'),
  url('/static/fonts/Ubuntu-L.svg#Ubuntu') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Trood';
  src: url('/static/fonts/Ubuntu-R.eot');
  src: url('/static/fonts/Ubuntu-R.eot#iefix') format('embedded-opentype'),
  url('/static/fonts/Ubuntu-R.woff2') format('woff2'),
  url('/static/fonts/Ubuntu-R.woff') format('woff'),
  url('/static/fonts/Ubuntu-R.ttf') format('truetype'),
  url('/static/fonts/Ubuntu-R.svg#Ubuntu') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Trood';
  src: url('/static/fonts/Ubuntu-RI.eot');
  src: url('/static/fonts/Ubuntu-RI.eot#iefix') format('embedded-opentype'),
  url('/static/fonts/Ubuntu-RI.woff2') format('woff2'),
  url('/static/fonts/Ubuntu-RI.woff') format('woff'),
  url('/static/fonts/Ubuntu-RI.ttf') format('truetype'),
  url('/static/fonts/Ubuntu-RI.svg#Ubuntu') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Trood';
  src: url('/static/fonts/Ubuntu-M.eot');
  src: url('/static/fonts/Ubuntu-M.eot#iefix') format('embedded-opentype'),
  url('/static/fonts/Ubuntu-M.woff2') format('woff2'),
  url('/static/fonts/Ubuntu-M.woff') format('woff'),
  url('/static/fonts/Ubuntu-M.ttf') format('truetype'),
  url('/static/fonts/Ubuntu-M.svg#Ubuntu') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Trood';
  src: url('/static/fonts/Ubuntu-MI.eot');
  src: url('/static/fonts/Ubuntu-MI.eot#iefix') format('embedded-opentype'),
  url('/static/fonts/Ubuntu-MI.woff2') format('woff2'),
  url('/static/fonts/Ubuntu-MI.woff') format('woff'),
  url('/static/fonts/Ubuntu-MI.ttf') format('truetype'),
  url('/static/fonts/Ubuntu-MI.svg#Ubuntu') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Trood';
  src: url('/static/fonts/Ubuntu-B.eot');
  src: url('/static/fonts/Ubuntu-B.eot#iefix') format('embedded-opentype'),
  url('/static/fonts/Ubuntu-B.woff2') format('woff2'),
  url('/static/fonts/Ubuntu-B.woff') format('woff'),
  url('/static/fonts/Ubuntu-B.ttf') format('truetype'),
  url('/static/fonts/Ubuntu-B.svg#Ubuntu') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Currency";
  src: url('/static/fonts/ArialRegular.eot');
  src:
    url('/static/fonts/ArialRegular.eot#iefix') format('embedded-opentype'),
    url('/static/fonts/ArialRegular.woff2') format('woff2'),
    url('/static/fonts/ArialRegular.woff') format('woff'),
    url('/static/fonts/ArialRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
