:root {
  --trood-black: #333;
  --trood-black-hover: #2a2a2a;
  --trood-black-hover-light: #3a3a3a;
  --trood-black-light: #1b1b1b;
  --trood-black-border: #323232;

  --trood-background: #fafafa;
  --trood-background-dark: #ebf0f1;
  --trood-background-light: #f6f6f6;

  --trood-white: #fff;
  --trood-white-hover: #f4f4f4;

  --trood-light-gray: #f9f9f9;
  --trood-gray: #f0f0f0;
  --trood-gray-hover: #dcdcdc;
  --trood-gray-dark: #cacaca;
  --trood-gray-text: #555;
  --trood-gray-extra-dark: #787878;
  --trood-gray-icon: #979797;
  --trood-gray-super-dark: #9a9a9a;
  --trood-gray-border-light: #999;
  --trood-gray-bg: #e8e8e8;
  --trood-gray-medium-dark: #eee;
  --trood-gray-border: #e3e3e3;

  --trood-blue: #0070d2;
  --trood-blue-hover: #0060b2;
  --trood-blue-extra-light: #e0f0ff;
  --trood-blue-gray: #54698d;
  --trood-blue-dark: #2e3e4e;
  --trood-blue-dark-hover: #37495a;
  --trood-blue-icon: #95aec5;
  --trood-blue-border: #22e;

  --trood-red: #eb6258;
  --trood-red-hover: #d74439;
  --trood-magenta-extra-light: #f6effc;

  --trood-pink: #fff7f6;

  --trood-orange: #f63;
  --trood-orange-hover: #e55905;

  --trood-yellow: #f9e825;

  --trood-green: #4dad33;
  --trood-green-hover: #53b338;
  --trood-green-dark: #0e964c;
  --trood-green-blue: #48c3cc;

  --trood-phone: 800px;
  --trood-tablet: 1000px;
  --trood-lg: 1400px;
  --trood-sides: 100px;
  --trood-sides-small: 50px;
  --trood-menu-width: 220px;
  --trood-menu-width-small: 80px;
  --trood-grid-gap: 20px;
  --trood-page-padding: 60px;
  --trood-header-height: 60px;
  --trood-border-radius: 2px;
}

:export {
  trood-black: var(--trood-black);
  trood-black-hover: var(--trood-black-hover);
  trood-black-hover-light: var(--trood-black-hover-light);
  trood-black-light: var(--trood-black-light);
  trood-black-border: var(--trood-black-border);

  trood-background: var(--trood-background);
  trood-background-dark: var(--trood-background-dark);
  trood-background-light: var(--trood-background-light);

  trood-white: var(--trood-white);
  trood-white-hover: var(--trood-white-hover);

  trood-light-gray: var(--trood-light-gray);
  trood-gray: var(--trood-gray);
  trood-gray-hover: var(--trood-gray-hover);
  trood-gray-dark: var(--trood-gray-dark);
  trood-gray-text: var(--trood-gray-text);
  trood-gray-extra-dark: var(--trood-gray-extra-dark);
  trood-gray-icon: var(--trood-gray-icon);
  trood-gray-super-dark: var(--trood-gray-super-dark);
  trood-gray-border-light: var(--trood-gray-border-light);
  trood-gray-bg: var(--trood-gray-bg);
  trood-gray-medium-dark: var(--trood-gray-medium-dark);
  trood-gray-border: var(--trood-gray-border);

  trood-blue: var(--trood-blue);
  trood-blue-hover: var(--trood-blue-hover);
  trood-blue-extra-light: var(--trood-blue-extra-light);
  trood-blue-gray: var(--trood-blue-gray);
  trood-blue-dark: var(--trood-blue-dark);
  trood-blue-dark-hover: var(--trood-blue-dark-hover);
  trood-blue-icon: var(--trood-blue-icon);
  trood-blue-border: var(--trood-blue-border);

  trood-red: var(--trood-red);
  trood-red-hover: var(--trood-red-hover);
  trood-magenta-extra-light: var(--trood-magenta-extra-light);

  trood-pink: var(--trood-pink);

  trood-orange: var(--trood-orange);
  trood-orange-hover: var(--trood-orange-hover);

  trood-yellow: var(--trood-yellow);

  trood-green: var(--trood-green);
  trood-green-hover: var(--trood-green-hover);
  trood-green-dark: var(--trood-green-dark);
  trood-green-blue: var(--trood-green-blue);

  trood-phone: var(--trood-phone);
  trood-tablet: var(--trood-tablet);
  trood-lg: var(--trood-lg);
  trood-sides: var(--trood-sides);
  trood-sides-small: var(--trood-sides-small);
  trood-menu-width: var(--trood-menu-width);
  trood-menu-width-small: var(--trood-menu-width-small);
  trood-grid-gap: var(--trood-grid-gap);
  trood-page-padding: var(--trood-page-padding);
  trood-header-height: var(--trood-header-height);
  trood-border-radius: var(--trood-border-radius);
}

@custom-media --trood-less-1500 only screen and (width <= 1500px);
@custom-media --trood-lg-and-tablet-and-phone only screen and (width <= 1400px);
@custom-media --trood-tablet-and-phone only screen and (width <= 1100px);
@custom-media --trood-phone only screen and (width <= 800px);
@custom-media --trood-phone-horizontal only screen and (width <= 800px) and (orientation: landscape);
@custom-media --trood-lg-and-tablet only screen and (width > 800px) and (width <= 1400px);
@custom-media --trood-lg only screen and (width > 1000px) and (width <= 1400px);
@custom-media --trood-tablet only screen and (width > 800px) and (width <= 1000px);
@custom-media --trood-big-tablet only screen and (width > 800px) and (width <= 1100px);
@custom-media --trood-very-big-tablet only screen and (width > 1100px) and (width <= 1500px);
