.root {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1;
}

.avatarConteiner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.canvas {
  border-radius: 5px;
  box-sizing: border-box;
}

.root .range {
  margin-top: 20px;
}

.footer {
  margin-top: 48px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-height: 40px;
}

@media (--trood-media-portable) {
  .root {
    justify-content: flex-start;
  }

  .avatarConteiner {
    min-height: 256px;
  }

  .avatarConteiner > canvas {
    margin: 8px;
  }

  .footer {
    margin: 16px 0;
  }
}
