@import 'styles/variables.css';

.root {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-width: 120px;
}

.select {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
  color: var(--trood-gray-super-dark);
  font-size: 16px;
  font-weight: 500;
}

.arrow {
  color: var(--trood-blue);
}

.optionsContainer {
  position: absolute;
  top: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: var(--trood-white);
  border: 1px solid var(--trood-gray-border);
  padding: 2px;
  z-index: 9999;
}
