@import 'styles/variables.css';

.root {
  font-size: 32px;
  line-height: 1.41;
  letter-spacing: -0.8px;
  font-weight: bold;
  color: var(--trood-white);
  display: flex;
  text-align: center;
  align-items: center;
}

.root > img {
  max-width: 100%;
  max-height: 100%;
}
