.root {
  width: 16px;
  height: 16px;
  border: 1px solid var(--trood-gray-border);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-width 0.1s ease-in-out;
}

.root.thin {
  width: 12px;
  height: 12px;
}

.root.large {
  width: 20px;
  height: 20px;
}

.checked.blue {
  border-color: var(--trood-blue);
}

.checked.orange {
  border-color: var(--trood-orange);
}

.checked .innerRoot {
  opacity: 1;
}

.innerRoot {
  opacity: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
}

.blue .innerRoot {
  background-color: var(--trood-blue);
}

.orange .innerRoot {
  background-color: var(--trood-orange);
}

.root.disabled {
  background-color: var(--trood-gray);
}

.disabled .innerRoot {
  color: var(--trood-gray-super-dark);
}
