.root {
  display: flex;
  align-items: center;
  color: var(--trood-gray-dark);
  cursor: pointer;
}

.root:hover,
.root.selected {
  color: var(--trood-black);
}

.root.disabled {
  color: var(--trood-text-gray);
}
