.root {
  display: flex;
  align-items: center;
  height: 1.5rem;
  border-radius: 3px;
  padding: 0 10px;
  cursor: pointer;
  color: var(--trood-orange);
  background-color: color-mod(var(--trood-orange) whiteness(90%));
  margin: 0 5px;
}

.root.selected,
.root:hover {
  box-shadow: inset 0 0 2px 2px var(--trood-orange);
}

.disabled {
  opacity: 0.5;
}
