@import 'styles/variables.css';

.root {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 32px;
  color: var(--trood-blue);
}

.root:hover {
  background-color: var(--trood-gray);
}

.icon {
  width: 24px;
  height: 24px;
  background: transparent center no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.controls {
  display: none;
  align-items: center;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  height: 100%;
  color: var(--trood-gray-extra-dark);
}

.root:hover .controls {
  display: flex;
  background-color: var(--trood-gray);
}

.control:not(:last-child) {
  margin-right: 10px;
}

.info {
  margin-left: 10px;
  overflow: hidden;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.size {
  font-size: 12px;
  color: var(--trood-gray-extra-dark);
}
