@import 'styles/variables.css';

.root {
  position: relative;
}

.blockingArea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* background-color: rgba(85, 97, 111, 0.4); */
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  z-index: 3000;
}

.indicator {
  display: flex;
  width: 100%;
  max-height: 800px;
  align-items: center;
  justify-content: center;
}
