@import 'styles/variables.css';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  font-size: 10px;
}

.circle svg {
  width: 50%;
  height: 50%;
}

.circleNotLoaded {
  stroke: transparent;
}

.circleLoaded {
  stroke: var(--trood-white);
  stroke-width: 1em;
  transition: stroke-dashoffset 1s linear;
}

.spinnerIcon {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}
