.root {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.buttonRoot {
  composes: root;
  color: var(--trood-blue-dark);
  font-size: 16px;
}

.floatRoot {
  composes: root;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--trood-sides);
  transition: box-shadow 0.3s linear;
}

.backArrow {
  color: var(--trood-gray-dark);
}

.floatRoot:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--trood-background-dark);
}

.floatRoot:hover .backArrow {
  color: var(--trood-gray-super-dark);
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--trood-blue);
}
