/* eslint-disable */

import loadable from '@loadable/component'

import LoadingIndicator from '$trood/components/LoadingIndicator'


export default {
  components: {
    <%= components %>
  },
  forms: {
    <%= forms %>
  },
  services: {
    <%= services %>
  },
}
