.root {
  display: flex;
  flex-flow: column nowrap;
}

.classicControls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.pages {
  display: flex;
  flex-flow: row nowrap;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  color: var(--trood-blue);
}

.activePage {
  background-color: var(--trood-gray-light);
  color: var(--trood-gray-dark);
  pointer-events: none;
  cursor: default;
}

.pageSplitter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
}

.select {
  display: flex;
  flex-flow: row-reverse;
}

.selectControl {
  width: 70px;
}

.selectLabel {
  margin: 0 0 0 15px;
  align-self: center;
}
