.root {
  -webkit-appearance: none;
  height: 24px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.root::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--trood-gray-medium-dark);
  border-radius: 2px;
  margin: 10px 0;
}

.root::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--trood-blue);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  border: 0;
}

.root::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--trood-gray-medium-dark);
  border-radius: 2px;
  border: 0;
  margin: 10px 0;
}

.root::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--trood-blue);
  cursor: pointer;
  border: 0;
}

.root::-ms-track {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 2px;
  color: transparent;
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
}

.root::-ms-fill-lower,
.root::-ms-fill-upper {
  background: var(--trood-gray-medium-dark);
  border-radius: 2px;
}

.root::-ms-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--trood-blue);
  cursor: pointer;
  border: 0;
}

.root:focus {
  outline: none;
}
