@import 'styles/variables.css';

.root {
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.date {
  flex: 0 0 calc(100% - 115px);
}

.date:last-child {
  flex-basis: 100%;
}

.time {
  flex: 0 0 100px;
}

.time:first-child {
  flex-basis: 100%;
}

.errorText {
  margin-top: 5px;
  color: var(--trood-red);
  font-size: 12px;
}
