@import 'styles/variables.css';

@keyframes rcSwitchOn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes rcSwitchOff {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.root {
  position: relative;
  max-width: 30px;
  min-width: 30px;
  height: 11px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px;
  background-color: var(--trood-gray-dark);
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  margin-right: 10px;
}

.rootInner {
  color: var(--trood-white);
  font-size: 12px;
  position: absolute;
  left: 24px;
}

.root:after {
  z-index: 10;
  position: absolute;
  width: 16px;
  height: 16px;
  left: -1px;
  top: -3px;
  border-radius: 50%;
  background-color: var(--trood-gray-super-dark);
  content: '';
  transform: scale(1);
  transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-duration: 0.3s;
  animation-name: rcSwitchOff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
}

.root:hover:after {
  transform: scale(1.1);
  animation-name: rcSwitchOn;
}

.root:focus {
  box-shadow: 0 0 0 2px #d5f1fd;
  outline: none;
}

.rootChecked {
  background-color: rgba(77, 173, 51, 0.5);
}

.rootChecked .root-inner {
  left: 6px;
}

.rootChecked:after {
  left: 15px;
  background-color: var(--trood-green);
}

.rootDisabled {
  cursor: no-drop;
  background: #ccc;
  border-color: #ccc;
}

.rootDisabled:after {
  background: #9e9e9e;
  animation-name: none;
  cursor: no-drop;
}

.rootDisabled:hover:after {
  transform: scale(1);
  animation-name: none;
}

.rootNonSwitch {
  background-color: rgba(77, 173, 51, 0.5);
}

.rootNonSwitch:after {
  background-color: var(--trood-green);
}

.rootLabel {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  padding-left: 10px;
  vertical-align: middle;
  white-space: normal;
  pointer-events: none;
  user-select: text;
}
