.root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.root:not(:last-child) {
  margin-right: 20px;
}

.label {
  width: 100%;
}

.filterInput {
  min-height: 38px;
  min-width: 200px;
  max-width: 300px;
}

.filterInput:not(:last-child) {
  margin-right: 20px;
}
