.root {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

.root:not(.vertical) {
  flex-flow: row nowrap;
  height: 50px;
}

.root.vertical {
  flex-flow: column nowrap;
}

.root:not(.thin) {
  font-weight: 500;
}

.root:not(.thin):not(.vertical) {
  text-transform: uppercase;
}

.link {
  display: flex;
  height: calc(100% + 1px);
  align-items: center;
  color: var(--trood-gray-extra-dark);
  cursor: pointer;
}

.vertical .link {
  height: 30px;
  padding-left: 20px;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.link:hover,
.link.active {
  color: var(--trood-black);
}

.link.active {
  cursor: default;
  pointer-events: none;
  font-weight: 500;
}

.root:not(.vertical):not(.thin) .link.active {
  box-shadow: inset 0 -2px var(--trood-blue);
}

.root.vertical:not(.thin) .link.active {
  box-shadow: inset 2px 0 var(--trood-blue);
}
