.root {
  position: relative;
  background-color: var(--trood-white);
  height: var(--trood-header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--trood-page-padding);
}

.button {
  z-index: 10;
}

.logo {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 30px;
  width: 60px;
}
