.root {
  position: relative;
  background-color: var(--trood-white);
  height: var(--trood-header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--trood-page-padding);
}

.pieMenu,
.button {
  z-index: 10;
}

.root .pieMenu {
  display: none;
  color: var(--trood-blue);
}

.logo {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 30px;
  width: 60px;
}

@media (--trood-media-portable) {
  .root {
    padding: 0 calc(var(--trood-page-padding) / 2);
  }

  .root .button {
    display: none;
  }

  .root .pieMenu {
    display: flex;
    color: var(--trood-blue);
  }
}
