@import 'styles/variables.css';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 100%;
  border-left: 1px solid var(--trood-gray-bg);
  color: var(--trood-gray-extra-dark);
}
