@import 'styles/variables.css';

.root {
  position: relative;
  height: 28px;
  width: 50px;
}

.selectedLocale,
.localesList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid var(--trood-blue);
  border-radius: 3px;
}

.localesList {
  background-color: var(--trood-white);
}

.localeItem,
.selectedLocale {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  cursor: pointer;
}

.localeName {
  margin-left: 5px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 700;
  color: var(--trood-gray-text);
}
