.root {
  position: relative;
  height: 28px;
  width: 50px;
  user-select: none;
}

.selectedLocale,
.localesList {
  position: absolute;
  left: 0;
  padding: 0 5px;
  width: 100%;
}

.selectedLocale {
  top: 0;
  color: var(--trood-blue);
}

.localesList {
  top: 100%;
  background-color: var(--trood-white);
  color: var(--trood-gray-text);
  z-index: 1000000;
  border-radius: 0 0 3px 3px;
}

.control {
  height: 100%;
  margin-left: auto;
}

.localeItem,
.selectedLocale {
  display: flex;
  align-items: center;
  height: 28px;
  cursor: pointer;
}

.root.open .selectedLocale {
  background-color: var(--trood-white);
}

.localeItem:hover {
  color: var(--trood-black);
}

.localeName {
  font-size: 13px;
  font-weight: 600;
}
