@import 'styles/variables.css';

.root {
}

.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 27px;
  padding: 5px 0;
  border-top: 1px solid var(--trood-black-border);
}

.folder:first-child {
  padding-top: 0;
  border-top: none;
}

.folderName {
  cursor: pointer;
}

.folderName:hover {
  color: var(--trood-gray-text);
}

.delete {
  display: none;
  cursor: pointer;
}

.folder:hover .delete {
  display: flex;
}

.foldersAdd {
  display: flex;
  flex-direction: column;
}

.buttonWrap {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  margin-top: 10px;
}

.buttonAdd,
.buttonCancel {
  height: 38px;
}
