.sortIcon {
  color: var(--trood-blue);
  margin-left: 10px;
}

.tableList {
  display: flex;
  flex-direction: column;
}

.tableListHeader {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 12px 15px;
}

.listHeaderRow:not(:last-child) {
  margin-bottom: 10px;
}

.tableListTitleContainer {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.tableListTitle {
  font-size: 12px;
  font-weight: 500;
  color: var(--trood-gray-extra-dark);
}

.tableListItemContainer {
  display: flex;
  flex-direction: column;
}

.tableListItemContainer:not(:first-child) {
  border-top: 1px solid var(--trood-gray-border);
}

.tableListItemContainer.expanded {
  border-top: 1px solid var(--trood-blue);
}

.tableListItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  cursor: pointer;
}

.tableListItemHeader.expanded {
  background-color: var(--trood-background);
}

.tableListItemTitle {
  display: flex;
  align-items: center;
}

.listCheckbox {
  margin-right: 12px;
}

.tableListItemTitleText {
  font-size: 12px;
  color: var(--trood-blue);
  pointer-events: none;
}

.tableListItemTitleText.expanded {
  font-weight: 600;
}

.expandIcon {
  color: var(--trood-blue);
}

.tableListItemBody {
  display: flex;
  flex-direction: column;
  padding: 17px 15px;
}

.tableListItemBodyChecking {
  padding: 17px 15px 17px 53px;
}

.tableList .listItemBodyRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.tableListItemLabel {
  font-size: 12px;
  font-weight: 600;
  color: var(--trood-gray-extra-dark);
  margin-right: 15px;
}

.tableListItemValue {
  font-size: 12px;
  font-weight: normal;
  color: var(--trood-gray-extra-dark);
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableListItemValue a {
  color: var(--trood-blue);
}

.listSortControls {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 100%;
}

.listSortControlsLabel {
  font-size: 12px;
  font-weight: 500;
  color: var(--trood-gray-extra-dark);
  margin-right: 8px;
}

.listSortItem {
  font-size: 12px;
  color: var(--trood-blue);
  padding: 7px;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.listSortItem:hover {
  background-color: var(--trood-gray-hover);
}

.sortListWrapper {
  overflow: hidden;
}

.sortFieldsContainer {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  z-index: 9;
  background-color: white;
  border: 1px solid var(--trood-gray-border);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.sortFieldsContainer.expanded {
  display: flex;
}

.sortOrderIcon {
  color: var(--trood-blue);
  margin-right: 8px;
}

.sortValueIcon {
  font-size: 12px;
  color: var(--trood-blue);
  overflow: hidden;
}

.sortValueIcon > div:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0;
}
