@import 'styles/variables.css';

.root {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10000000;
  background-color: var(--trood-white);
  border-radius: 3px;
}

.head {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--trood-gray-bg);
  padding: 0 5px 0 15px;
}

.svgClear {
  color: var(--trood-blue);
  cursor: pointer;
}

.svgClear svg {
  height: 24px;
  width: 24px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--trood-black);
}

.content {
  background-color: var(--trood-white);
  border-radius: 3px;
  padding: 5px 0;
}

.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  z-index: -1;
}

.arrow:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--trood-white);
  transform: rotate(45deg);
}

.topLeft,
.topMiddle,
.topRight,
.bottomLeft,
.bottomMiddle,
.bottomRight {
  composes: arrow;
  justify-content: center;
}

.topLeft,
.topMiddle,
.topRight {
  top: -15px;
}

.topLeft:before,
.topMiddle:before,
.topRight:before {
  top: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.bottomLeft,
.bottomMiddle,
.bottomRight {
  bottom: -15px;
}

.bottomLeft:before,
.bottomMiddle:before,
.bottomRight:before {
  bottom: 8px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.topLeft,
.bottomLeft {
  left: 10px;
}

.topRight,
.bottomRight {
  right: 10px;
}

.topMiddle,
.bottomMiddle {
  left: calc(50% - 10px);
}

.leftTop,
.leftMiddle,
.leftBottom,
.rightTop,
.rightMiddle,
.rightBottom {
  composes: arrow;
  align-items: center;
}

.leftTop,
.leftMiddle,
.leftBottom {
  left: -15px;
}

.leftTop:before,
.leftMiddle:before,
.leftBottom:before {
  left: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.rightTop,
.rightMiddle,
.rightBottom {
  right: -15px;
}

.rightTop:before,
.rightMiddle:before,
.rightBottom:before {
  right: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.leftTop,
.rightTop {
  top: 10px;
}

.leftBottom,
.rightBottom {
  bottom: 10px;
}

.leftMiddle,
.rightMiddle {
  top: calc(50% - 10px);
}
