.root {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.arrow {
  margin-left: 20px;
  color: var(--trood-blue);
}

.content {
  max-height: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: all 0.2s;
  overflow-y: auto;
}

.contentOpen {
  border-top: 1px solid var(--trood-gray-bg);
  max-height: 300px;
  transform: scaleY(1);
}
