.root {
  height: calc(100% - var(--trood-header-height));
  display: flex;
  border-top: 1px solid var(--trood-gray-bg);
}

.menu {
  flex: 0 0 200px;
}

.chainList {
  flex: 0 0 320px;
}

.mailsList {
  width: calc(100% - 520px);
}
