.root {
  display: flex;
  justify-content: space-between;
  min-height: 300px;
}

.left {
  flex: 0 0 160px;
  background-color: var(--trood-black-hover);
}

.right {
  flex: 1 1 auto;
  padding: 10px;
}
