@import 'styles/variables.css';

.root {
  display: flex;
  padding: 15px;
  align-items: center;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px;
  color: var(--trood-white);
  background-color: var(--trood-green-blue);
}

.date {
  margin-left: auto;
  font-size: 12px;
  color: var(--trood-gray-extra-dark);
}

.content {
  padding: 0 15px;
}

.action {
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.multipleEntyAction {
  composes: action;
  flex-wrap: no-wrap;
  flex-direction: column;
  align-items: flex-start;
}

.actionType {

}

.diffEntry {
  display: flex;
  align-items: flex-end;
  font-weight: normal;
  margin-left: 5px;
  height: 15px;
}

.multipleEntyAction .diffEntry {
  margin-left: 30px;
  margin-top: 5px;
}

.diffFields {
  display: flex;
  height: 15px;
  align-items: flex-end;
}

.fieldName {
  font-weight: bold;
  margin-right: 5px;
}

.updateIcon {
  color: var(--trood-gray-extra-dark);
  margin: 0 5px;
}
