.DraftEditor-root,
.DraftEditor-editorContainer,
.public-DraftEditor-content {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.DraftEditor-editorContainer {
  position: relative;
  z-index: 1;
}

.public-DraftEditor-content::-webkit-scrollbar {
  opacity: 0;
  display: block;
  visibility: hidden;
  width: 8px;
}

.public-DraftEditor-content::-webkit-scrollbar-track {
  border-radius: 4px;
}

.public-DraftEditor-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--trood-gray);
}

.public-DraftEditorPlaceholder-root {
  color: var(--trood-gray-extra-dark);
  position: absolute;
}

.public-DraftEditorPlaceholder-hasFocus {
  display: none;
}
