@import 'styles/variables.css';

.root {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px;
}

.left {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 70%;
  border: 1px solid var(--trood-gray-border);
  padding: 10px;
}

.right {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 30%;
  margin-left: 15px;
  overflow: hidden;
}

.copyButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.copyButton:not(:first-child) {
  margin-left: 5px;
}

.wysiwygWrapper {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.root .wysiwyg {
  flex-flow: column nowrap;
  border: none;
  min-height: 300px;
  padding: 0;
}

.attachedMail {
  border-top: 1px solid var(--trood-gray-bg);
  padding: 0 20px;
}

.filesArea {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  margin-bottom: 15px;
  max-width: 100%;
}

.fileInput label {
  padding: 0;
}

.fileInputFull,
.fileInputFull label {
  height: 100%;
}

.fileInputLabel {
  align-items: center;
  justify-content: center;
}

.file {
  margin-top: 15px;
}
