.root {
  display: grid;
  margin-bottom: var(--trood-grid-gap);
}

.nestedRoot {
  composes: root;
  padding: 0;
}

.secondaryMenu {
  padding: 0 var(--trood-page-padding);
}

.gridCell:empty {
  display: none;
}
